<a href="https://colab.research.google.com/github/FGalvao77/Logist-Regression/blob/main/Logist_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Logist Regression**
---
---

In [ ]:
# instalando a bilioteca "pyod"
!pip install pyod

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyod
  Downloading pyod-1.0.4.tar.gz (134 kB)
     |████████████████████████████████| 134 kB 14.3 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pyod) (1.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pyod) (3.2.2)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.7/dist-packages (from pyod) (1.21.6)
Requirement already satisfied: numba>=0.51 in /usr/local/lib/python3.7/dist-packages (from pyod) (0.56.0)
Requirement already satisfied: scipy>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from pyod) (1.7.3)
Requirement already satisfied: scikit_learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from pyod) (1.0.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from pyod) (1.15.0)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from pyod) (0.10.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from numba>=0.51->pyod) (4.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.51->pyod) (57.4.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.51->pyod) (0.39.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit_learn>=0.20.0->pyod) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba>=0.51->pyod) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba>=0.51->pyod) (3.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pyod) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pyod) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pyod) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pyod) (0.11.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from statsmodels->pyod) (1.3.5)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->pyod) (0.5.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->statsmodels->pyod) (2022.1)
Building wheels for collected packages: pyod
  Building wheel for pyod (setup.py) ... done
  Created wheel for pyod: filename=pyod-1.0.4-py3-none-any.whl size=165073 sha256=b6d2708aedf13412377e9b12b4c5407dc79cb9565a46574783ef9e93ed10a928
  Stored in directory: /root/.cache/pip/wheels/3d/48/a8/87d61660791c7e6b0f5c3068da7fb17ade7fdc041e864fe053
Successfully built pyod
Installing collected packages: pyod
Successfully installed pyod-1.0.4

In [ ]:
# importando as bibliotecas iniciais
import pandas as pd
import numpy as np

from pyod.utils.data import generate_data

In [ ]:
# setando as configuraçõe de exibição
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

In [ ]:
X_data, y_data = generate_data(n_train=10_000, train_only=True, n_features=2, random_state=1527)

In [ ]:
X_data.shape, y_data.shape

((10000, 2), (10000,))

In [ ]:
data_1 = X_data[:, [0]].reshape(-1, 1)
data_2 = X_data[:, [1]].reshape(-1, 1)

In [ ]:
data_table = pd.DataFrame(data_1, columns=['data_1'])

data_table['data_2'] = data_2
data_table['class'] = y_data

In [ ]:
data_table.head()

     data_1    data_2  class
0 -0.124951  1.753209    0.0
1  1.550668  0.859896    0.0
2  1.247729  1.097435    0.0
3  1.315495  0.609980    0.0
4  0.080046  0.618762    0.0

In [ ]:
data_table.describe().T

,count,mean,std,min,25%,50%,75%,max
data_1,10000.0,0.910131,0.804590,-2.178968,0.373565,0.912336,1.466315,3.949610
data_2,10000.0,0.900293,0.810081,-1.760863,0.357212,0.905491,1.444203,3.835132
class,10000.0,0.100000,0.300015,0.000000,0.000000,0.000000,0.000000,1.000000

In [ ]:
X = data_table.drop(columns='class')
# X = data_table.iloc[:, :-1]
X[:10]

     data_1    data_2
0 -0.124951  1.753209
1  1.550668  0.859896
2  1.247729  1.097435
3  1.315495  0.609980
4  0.080046  0.618762
5  2.353230 -0.235085
6  1.969281  1.925189
7  0.705057  0.633209
8  3.435733  1.067487
9  0.576361  2.367005

In [ ]:
y = data_table['class']
# y = data_table.iloc[:, -1:]
y[:10]

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: class, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split as tts

In [ ]:
Xtrain, Xtest, ytrain, ytest = tts(X, y, test_size=0.3, random_state=1527)

In [ ]:
print(
    '\tData',
    f'train data: {len(Xtrain)}', 
    f'test data: {len(Xtest)}', 
    sep='\n'
)

	Data
train data: 7000
test data: 3000

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
mdl_lr = LogisticRegression(random_state=1527, n_jobs=-1)
mdl_lr.fit(Xtrain, ytrain)

LogisticRegression(n_jobs=-1, random_state=1527)

In [ ]:
print(
    f'Score: {round(mdl_lr.score(Xtrain, ytrain), 4)}'
)

Score: 0.9184

In [ ]:
y_pred = mdl_lr.predict(Xtest)
y_pred[:15]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.])

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
print(
    f'Confusion matrix:\n {confusion_matrix(ytest, y_pred)}'
)

print(
    f'\nAccuracy: {round(accuracy_score(ytest, y_pred), 4)}'
)

Confusion matrix:
 [[2658   50]
 [ 174  118]]

Accuracy: 0.9253